/* .img{
    background-image:url(slide-1.jpeg);
    width: 1500px;
    height:600px;
    
} */

#bt{
   height: 35px;
  
}

#h{
    color: black;
}
#mo{
    padding-top: 110px;
    
}
#pa{
    width: 380px;
    color:grey;
}